:root is:global {
    --red: #f05454;
    --blue: #23accf;
    --darkblue: #222830;
    --beige: #edd8c5;
}

body {
    margin: 0;
    padding: 0;
    color: var(--beige);
    font-family: "rig-sans", sans-serif;
}

img {
    max-width: 100%;
    rotate: (160deg);
}