.back-button {
position: fixed;
top: 80px;
left: 15px;
width: 50px;
height: 50px;
background-color: var(--beige);
color: var(--red);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
z-index: 1000;
}

.back-button i {
font-size: 24px;
}



/* home buton */
.home-button {
  position: fixed;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: var(--beige);
  color: var(--red);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}



.link {
  color: var(--blue);
  font-weight: 800;
  text-decoration: underline;

}





a
{
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--beige);
}

h1 {

  line-height: 1.2;
  font-size: 10rem;
  margin: 0;
  color: var(--beige);
  padding-top: 7rem;
  padding-left: 13rem;
}

.layout {
  width: 100%;
  height: 100%;
}

.layout .content-text {
  width: 80%;
  background-color: var(--red);
  justify-self: center;
  align-self: c;
  padding: 20px;
  border-radius: 40px;
  height: 100rem;
  margin-top: 50px;
}




h2 {
  margin: 1rem 0 0;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--red);
}
h3 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--beige);
}

h4 {
  margin: 1rem 0 0;
  font-size: 1.4rem;
  font-weight: 900;
  
  color: var(--beige);

}


.layout .projects-title {
  display: block;
  font-size: 5rem;
  color: var(--red);
  padding: 0;
  margin: 0;
}

.card span {
  display: block;
  font-size: 2rem;
  color: var(--red);

}



.layout {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}


#swup {
  justify-content: center;
}

header {
  padding: calc(0.5 + 1.5vw) 0;
}


main {
  width: 80%;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-self: center;
}

main a {
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 2px;
  font-weight: bold;
}

.buttons {
  margin-top: 2.25em;
  margin-bottom: 1.75em;
}

.buttons:last-child {
  margin-bottom: 0;
}

.buttons .button {
  margin-right: 1em;
}

.button {
  display: inline-block;
  border-radius: 999vw;
  background: transparent;
  border: 2px solid;
  padding: .6em 1.1em;
  transition-property: background, color;
  transition-duration: 150ms;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background: rgba(255, 255, 255, 0.05);
}

.grid {
  display: flex;
  grid-gap: calc(0.8em + 1vw);
  flex-direction: row;


}

.card {
  position: relative;
  border-radius: 20px;
  padding: .9em 1em 1.2em;
  transition: background 150ms;
  outline: var(--blue) solid 4px;



}

.card:hover {
  color: var(--red);
  backdrop-filter: blur(5px);
  transform: translateY(-0.4em);
  background-color: var(--blue);
  transition-delay: 0ms !important; /* Remove delay on hover */
}

.card>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  user-select: none;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.3;
  color: var(--beige);
  font-size: 2rem;
}

.card__title a {
  background: none;
}

.card__content {
  font-size:medium;
  color: var(--beige);
  font-weight: 600;
}

/* Content Learning outcome */
.detail-content {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  flex-wrap: wrap;
  gap: 2rem; 
  color: var(--darkblue);
  border-radius: 40px;
  justify-self: center;
}

#design {
  display: flex;
  flex-direction: row;
}



.detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}


.detail-header h1 {
  font-size: 5vw;
  color: var(--beige);
  padding: 0;
  margin: 0;
}

.detail-header p {
  grid-column: 1/1;
}




.detail-text {
  flex: 1 1 60%;
  padding: 2rem 2rem;
  background-color: var(--darkblue);
  border-radius: 40px;
  outline: var(--blue) solid 5px;
}



.detail-img {

  flex: 1 1 35%;
  align-self: center;
  padding: 2rem;
  outline: var(--blue) solid 5px;
  border-radius: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}


.detail-img img {
  max-width: 100%;
  min-width: 22vw;
  border-radius: 40px;

}

.color-container {
  width: 100%;
  border-radius:var(--BR);
  outline: var(--blue) solid 5px;
  display: flex;
}
.color-style {
  width: 100%;

  height: 20vh;
}


.feedpulse {
  margin-top: 1rem;
  padding: 20px;
  background-color: var(--red);
  border-radius: 40px;
}



.intro-text {


  padding: 2rem 2rem;
  background-color: var(--red);
  border-radius: 40px;

}

.intro-text h1 {
font-weight: 900;
font-size: 4rem;
padding: 0;
color: var(--beige); 
}

.intro-text p {
font-size: 1.2rem;
color: var(--beige);
}

.intro {
font-weight: bold;
}
@media (max-width: 1080px) {
  .detail-img img {
    width: 100%;
    border-radius: 40px;
  }
  .grid {
    flex-wrap: wrap;
  }
}

/* Adjust the .grid layout for mobile screens */
@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .detail {
    flex-direction: column;
    min-width: 280px;
  }

  .detail-img, .detail-text {
    width: 100%;
  }

  .detail-img img {
    width: 100%;
    border-radius: 40px;
  }
}

@media (max-width: 420px) {
  .layout .projects-title {
    font-size: 4rem;
  }

  .grid {
    flex-direction: column;
    min-width: 90%;
  }

  .detail {
    flex-direction: column;
  }

  .detail-img, .detail-text {
    width: 100%;
  }

  .detail-img img {
    width: 100%;
    border-radius: 40px;
  }

  .card {
    min-width: 280px;
  }
}


