.layout h1 {
    font-size: 10rem;
    margin: 0;
    color: var(--beige);
    padding-top: 7rem;
    padding-left: 13rem;
}

.layout .content {
    width: 80%;
    background-color: var(--red);
    justify-self: center;
    padding: 20px;
    border-radius: 40px;
    height: 100rem;
    margin-top: 50px;
}